.online-design-general-container {
    width: 100%;
    height: calc(100vh - 84px);
    display: flex;
    flex-direction: column;

    .operation-area {
        height: 60px;
        display: flex;
        align-items: center;
    }

    .drawing-board-container {
        position: relative;
        flex: 1;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;

        .drawing-canvas-container {
            width: fit-content;
            height: fit-content;
            background-color: pink;
            position: absolute;

            // transform-origin: left top;
            .drawing-canvas {
                position: relative;
                overflow: hidden;

                .layer-item {
                    position: absolute;

                    &.is-active {
                        outline: 1px dashed lightseagreen;
                    }

                    .html-wrap {
                        width: 100%;
                        height: 100%;

                        ::v-deep .online-design-img {
                            width: 100%;
                            height: 100%;
                            user-select: none !important;
                            pointer-events: none !important;
                        }
                    }
                }
            }
        }
    }
}